table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.now-card {
  padding: 20px;
  margin: auto;
  width: 80%;
  align-content: center;
  background-color: #698996;
}

.card {
  margin: auto;
  text-align: center;
  background-color: #97b1a6;
}
